.super-mario {
    position: absolute;
    width: 200px;
}

.goomba {
    position: absolute;
    width: 100px;
    top: 410px;
    left: 50px;
}

.baloon {
    position: absolute;
    left: 220px;
    top:200px

}

.speach {
    position: absolute;
    font-size: 23px;
    left: 250px;
    top: 235px;
    z-index: 1;
}

.bowser {
    position: absolute;
    left: 500px;
    top: 380px;
    width: 200px;
}