#hungria{
    width: 250px;
    position: absolute;
    top: 20px;
    left: 15px;
    z-index: 1;
}
#matue{
    width: 300px;
    position: absolute;
    top: 20px;
    left:310px;
    z-index: 1;
}

h1{
    position: absolute;
    z-index: 2;
    left: 20px;
    top: 270px
}

#music{
     position: absolute;
     z-index: 3;
     top: 350px
}

#opala{
    width: 200px;
    float: left;
    margin-right: 15px;
}
h2{
    position: absolute;
    top: 310px;
}
