        h1 {
            font-family: sans-serif;
            font-size: 65px;
            text-align: center;
            text-decoration:overline;
        }

        ul {
            background-color:aquamarine
        }

        .test {
            background-color: pink;
            font-weight: bold;
            font-style: italic;
            line-height: 40px;
            text-align: center;
            text-decoration: underline;
            
        }

        h2 {
            font-size: 2em;
        }


        body {
            font-size: 16px;
            font-style:oblique;
            line-height: 1;
        }

        p {
            color:aquamarine;
            font-size: 3em;
            font-family: monospace;
            font-weight: 600;
        }

        li {
            background-color: black;
        }
