.header-container {
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: dimgray;
}

.header-img {
    height: 61px;
    width: 60px;
}

.header-login {
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-title {
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-section {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gallery {
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    gap: 20px;
}

.tech-card {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 30%;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    padding: 20px;
}

.image {
    width: 60%;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-instagram {
    width: 50px;
}

.social-linkedin {
    width: 50px;
}

.line {
    display: flex;
    justify-content: center;
}