html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  background-color: rgb(66, 221, 112);
}

.container {
  padding: 12px;
}

header {
  align-items: center;

}

header h3 {
  font-size: 25px;
}

p {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 4px 10px 2px rgba(0,0,0,0.2);
  }


@media (min-width: 320px) and (max-width: 480px) {
  .container {
    padding: 8px;
  }

  p {
    font-size: 11px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 4px;
    box-shadow: 0 4px 10px 2px rgba(0,0,0,0.2);
  }

  li {
    font-size: 13px;
  }

  h2 {
    font-size: 18px;
  }

  h1 {
    font-size: 18px;
  }

}


@media (max-width: 768px) and (min-width: 481px) {
  p {
    font-size: 13px;
  }
  h1, h2, h3 {
    font-size: 20px;
  }
  li {
    font-size: 15px;
  }
}


