div:hover{
    border: 6px solid black;
}
div:nth-of-type(1){
    background-color: chartreuse;
}
div:nth-of-type(2){
    background-color: crimson;
}
div:nth-of-type(3){
    background-color: darkorange;
    font-size: 25px;
}
div:nth-of-type(4){
    background-color: lightskyblue;
}
div:nth-of-type(5){
    background-color: blueviolet;
}
div:nth-of-type(1) >h3{
    color: antiquewhite;
    font-size: 20px;
}
div:nth-of-type(2) >h3{
    color:aquamarine;
    font-style: italic;
}
div:nth-of-type(3) >h3{
    color:gold;
}
div:nth-of-type(4) >h3{
    color:brown;
    font-variant: inherit;
}
div:nth-of-type(5) >h3{
    color:aqua;
}
div:nth-of-type(odd) h3{
    font-style: italic;
}